.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0 ;
    padding: 0;
  }

  
  /* nav style section */

header{
    background-color: #F1F1F3;
}
  nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 ;
  }

  nav h3{
    font-size: 32px;
  }

  .nav-btn  {
    background-color: transparent;
    border-radius: 8px;
    color: black;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;


}

  .container{
    width: 1280px;
    margin: 0 auto;
    

  }

main{
    background-color: #F1F1F3;
}

  /* Hero section style  */




  .hero-section{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 80px 50px;
    border-radius: 24px;
    
  }

  .hero-contents p{
    font-size: 32px;
    
  }


.hero-contents h2{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 56px;
    margin: 16px 0 24px 0;
}



.btn1  {
    background-color: #006A50;
    border-radius: 8px;
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 700;


}




/* Pillars Style  */

.pillars{
    padding: 40px 0;
}

.pillars h2{
    font-size: 40px;
    margin: 32px 0;
}
.pillars-group{
    display: flex;
    justify-content: space-between;
    gap: 24px;

}
.pillars-card{
    background-color: white;
    padding: 24px;
    border-radius:16px ;
    border: 1px solid grey;

}
.pillars-card h3{
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0 12px 0;

}

.pillars-card p{
    font-size: 16px;
    
}


/* Future Style  */
.future h2{
    font-size: 40px;
    font-weight: bold;
}
.future p{
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
}



.future{
  padding: 40px 0;
}


.devlepment-group{
  display: flex;
  justify-content: space-between;
  gap: 24px;

}
.group-card{

  padding: 24px;
  border-radius:16px ;
  border: 1px solid grey;

}

.blue-bg{
  background-color: #5490F533;
}

.green-bg{
  background-color: #C6E4D6;
}

.orange-bg{
  background-color: #F7EBCF;
}


.group-card h3{
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 12px 0;

}

.group-card p{
  font-size: 16px;
  
}

.btn2{
 padding: 11px 20px; 
 font-size: 16px;
 border: none;
 border-radius: 8px;
 color: white;

}
.blue-btn{
  background-color:#5490F5 ;
}
.green-btn{
  background-color:#09A15C ;
}
.orange-btn{
  background-color:#FFC239 ;
}

/* quote */
.quote{
  margin: 32px 0px;
  padding: 48px 24px;
  background-color: white;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.quote p{
  font-size: 16px;
}

.quote h3{
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0 10px 0;
}
.news-group{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 48px;
  margin: 12px 0;
  background-color: white;
  border-radius: 24px;
}

.news-img img{
  border-radius: 24px;
  width: 408px;
  height: 306px;
}

.news-content h3{
  font-size: 32px;

}

.news-content img{
  width: 134px;
  height: 40px;
  margin: 12px 0;
}

.news p{
  font-size: 16px;
  margin-bottom: 12px;
}

.news-content button{
  margin-top: 20px;
  padding: ;
}

.news h2{
  font-size: 40px;
}

.news-reverse{
  flex-direction: row-reverse;
}
/* fund */

.fund{
  padding: 40px 0;
  text-align: center;

}
.fund h2{
  font-size: 40px;
  margin: 12px 0;
  
}
.fund p{
  font-size: 16px;
  margin: 12px 0;

}
.donate-tk{
  display: flex;
  justify-content: center;
  gap: 24px;

}
.donate-card{
  padding: 40px;
  border-radius: 16px;
  border: 1px solid gray;
  background-color: #FFFFFF;
}

.donate-card{
  font-size: 40px;
}

.donate-text{
  padding: 20px;
  width: 1032px;
  margin: 32px 0;
  text-align: center;
}
/* newsletter */
.newsletter{
  padding: 80px 100px;
  background-color: #C6E4D6;
  border-radius: 24px;
  text-align: center;
}

.newsletter h2{
  font-size: 40px;
}
.newsletter p{
  font-size: 16px;
  margin: 16px 0;
}

.subs-text{
  display: flex;
  justify-content: center;
}
.subs-text input{
  width: 600px;
  padding:18px 40px;
  border-radius: 5px 0 0 5px;
  border: none;

}
.btn-subs{
  border-radius: 0 5px 5px 0;
  border: none;
}


footer{
  padding: 50px 0;
  text-align: center;
}

footer h2{
  font-size: 40px;
}

footer hr{
  width: 70%;
  margin: 20px auto;
}

.social-icon img{
  width: 24px;
  height: 24px;
}